---

---

<header>
  <p>logo</p>
  <nav>
    <ul>
      <li><a href="/">Index</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="/products">prod</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    background-color: bisque;
  }

  p {
    text-transform: uppercase;
  }
</style>
